## Summarize Data

In [75]:
import pandas as pd
import seaborn as sns
import numpy as np

In [76]:
df = sns.load_dataset('iris')
df.shape

(150, 5)

In [77]:
df.shape[0]    # == len(df)

150

In [78]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [10]:
df['species'].value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

In [11]:
df['species'].nunique()

3

In [13]:
df['sepal_length'].sum()

876.5

In [35]:
df['sepal_length'].max()

7.9

In [30]:
df['petal_length'].median()    # 중간 값

4.35

In [44]:
df.median()    # 중간 값

sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
dtype: float64

In [31]:
df['petal_length'].mean()    # 평균 값

3.7580000000000005

In [43]:
df.mean()    # 평균 값

sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
dtype: float64

In [45]:
df.var()    # 분산

sepal_length    0.685694
sepal_width     0.189979
petal_length    3.116278
petal_width     0.581006
dtype: float64

In [46]:
df.std()    # 표준편차

sepal_length    0.828066
sepal_width     0.435866
petal_length    1.765298
petal_width     0.762238
dtype: float64

In [36]:
df.quantile([0.25, 0.30, 0.50, 1.00])    # 각 퍼센트? 의 값 => 50% 중간 값, 100% 최대 값

      sepal_length  sepal_width  petal_length  petal_width
0.25          5.10          2.8          1.60          0.3
0.30          5.27          2.8          1.70          0.4
0.50          5.80          3.0          4.35          1.3
1.00          7.90          4.4          6.90          2.5

In [41]:
df.loc[:, ['sepal_length', 'petal_length']].quantile([0.25, 0.30, 0.50, 1.00])

      sepal_length  petal_length
0.25          5.10          1.60
0.30          5.27          1.70
0.50          5.80          4.35
1.00          7.90          6.90

In [42]:
df.loc[50:100, ['sepal_length', 'petal_length']].quantile([0.25, 0.30, 0.50, 1.00])

      sepal_length  petal_length
0.25           5.6           4.0
0.30           5.6           4.0
0.50           5.9           4.4
1.00           7.0           6.0

## Describe

In [20]:
df.describe?

In [14]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [16]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN

In [19]:
df.describe(exclude=[np.object])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [23]:
df['sepal_width'].describe()

count    150.000000
mean       3.057333
std        0.435866
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepal_width, dtype: float64

In [24]:
df['species'].describe()

count        150
unique         3
top       setosa
freq          50
Name: species, dtype: object

## Apply (function)

In [47]:
df.apply?

In [51]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [52]:
df.apply(lambda x : x[0])

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
dtype: object

In [66]:
df['species'].apply(lambda x: x[0]).head()

0    s
1    s
2    s
3    s
4    s
Name: species, dtype: object

In [83]:
def sample_last_3(x) : 
    x = x[-3:]
    return x

In [79]:
df['species_first_3'] = df['species'].apply(lambda x: x[:3])

In [81]:
df['species_last_3'] = df['species'].apply(sample_last_3)

In [82]:
df

,sepal_length,sepal_width,petal_length,petal_width,species,species_first_3,species_last_3
0,5.1,3.5,1.4,0.2,setosa,set,osa
1,4.9,3.0,1.4,0.2,setosa,set,osa
2,4.7,3.2,1.3,0.2,setosa,set,osa
3,4.6,3.1,1.5,0.2,setosa,set,osa
4,5.0,3.6,1.4,0.2,setosa,set,osa
5,5.4,3.9,1.7,0.4,setosa,set,osa
6,4.6,3.4,1.4,0.3,setosa,set,osa
7,5.0,3.4,1.5,0.2,setosa,set,osa
8,4.4,2.9,1.4,0.2,setosa,set,osa
9,4.9,3.1,1.5,0.1,setosa,set,osa
10,5.4,3.7,1.5,0.2,setosa,set,osa
11,4.8,3.4,1.6,0.2,setosa,set,osa
12,4.8,3.0,1.4,0.1,setosa,set,osa
13,4.3,3.0,1.1,0.1,setosa,set,osa
14,5.8,4.0,1.2,0.2,setosa,set,osa
15,5.7,4.4,1.5,0.4,setosa,set,osa
16,5.4,3.9,1.3,0.4,setosa,set,osa
17,5.1,3.5,1.4,0.3,setosa,set,osa
18,5.7,3.8,1.7,0.3,setosa,set,osa
19,5.1,3.8,1.5,0.3,setosa,set,osa
20,5.4,3.4,1.7,0.2,setosa,set,osa
21,5.1,3.7,1.5,0.4,setosa,set,osa
22,4.6,3.6,1.0,0.2,setosa,set,osa
23,5.1,3.3,1.7,0.5,setosa,set,osa
24,4.8,3.4,1.9,0.2,setosa,set,osa
25,5.0,3.0,1.6,0.2,setosa,set,osa
26,5.0,3.4,1.6,0.4,setosa,set,osa
27,5.2,3.5,1.5,0.2,setosa,set,osa
28,5.2,3.4,1.4,0.2,setosa,set,osa
29,4.7,3.2,1.6,0.2,setosa,set,osa
...,...,...,...,...,...,...,...
120,6.9,3.2,5.7,2.3,virginica,vir,ica
121,5.6,2.8,4.9,2.0,virginica,vir,ica
122,7.7,2.8,6.7,2.0,virginica,vir,ica
123,6.3,2.7,4.9,1.8,virginica,vir,ica
124,6.7,3.3,5.7,2.1,virginica,vir,ica
125,7.2,3.2,6.0,1.8,virginica,vir,ica
126,6.2,2.8,4.8,1.8,virginica,vir,ica
127,6.1,3.0,4.9,1.8,virginica,vir,ica
128,6.4,2.8,5.6,2.1,virginica,vir,ica
129,7.2,3.0,5.8,1.6,virginica,vir,ica
130,7.4,2.8,6.1,1.9,virginica,vir,ica
131,7.9,3.8,6.4,2.0,virginica,vir,ica
132,6.4,2.8,5.6,2.2,virginica,vir,ica
133,6.3,2.8,5.1,1.5,virginica,vir,ica
134,6.1,2.6,5.6,1.4,virginica,vir,ica
135,7.7,3.0,6.1,2.3,virginica,vir,ica
136,6.3,3.4,5.6,2.4,virginica,vir,ica
137,6.4,3.1,5.5,1.8,virginica,vir,ica
138,6.0,3.0,4.8,1.8,virginica,vir,ica
139,6.9,3.1,5.4,2.1,virginica,vir,ica
140,6.7,3.1,5.6,2.4,virginica,vir,ica
141,6.9,3.1,5.1,2.3,virginica,vir,ica
142,5.8,2.7,5.1,1.9,virginica,vir,ica
143,6.8,3.2,5.9,2.3,virginica,vir,ica
144,6.7,3.3,5.7,2.5,virginica,vir,ica
145,6.7,3.0,5.2,2.3,virginica,vir,ica
146,6.3,2.5,5.0,1.9,virginica,vir,ica
147,6.5,3.0,5.2,2.0,virginica,vir,ica
148,6.2,3.4,5.4,2.3,virginica,vir,ica
149,5.9,3.0,5.1,1.8,virginica,vir,ica